.image {
    width: 100%;
}

.cardHeading {
    margin-top: 10%;
    color: #2C2424;
    font-weight: lighter;
    font-family: Roboto;
}

.contactImage {
    width: stretch;
    background-repeat: no-repeat;
    background-size: cover;
}

.titleContact {
    color: #2C2424;
    text-align: center;
    padding-top: 3%;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 30;
    width: 100%;
    position: absolute;
}

.head2 {
    color: white;
    padding-left: 5%;
    padding-top: 27px;
}

.textImage {
    position: relative;
}

.underlineTitle {
    position: absolute;
    width: 100%;
}

.imageCard {
    height: 15%;
    width: 15%;
    padding-top: 15px;

}

.imageCardMS {
    height: 15%;
    width: 15%;
    padding-top: 31px;

}

.cardText {
    text-align: center;
    font-family: Roboto;
}

.anchor {
    text-decoration: none;
    color: #2C2424;
    font-family: Roboto;
}

/* Intro text */
.contactIntro {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-family: Roboto;
    font-size: 16px;
    color: #444;
    max-width: 800px;
}

/* Contact methods */
.contactMethods {
    margin-bottom: 60px;
}

.contactBox {
    text-align: center;
    padding: 30px 20px;
}

.contactBox img {
    width: 60px;
    height: 60px;
    margin-bottom: 15px;
    object-fit: contain;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.contactBox h4 {
    font-family: Roboto;
    font-weight: 500;
    margin-bottom: 10px;
    color: #2c2424;
}

.contactBox p {
    font-size: 15px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 10px;
}

.contactBox a {
    text-decoration: none;
    font-weight: 500;
    color: #ffab99;
}

/* Highlight primary contact */
.contactBox.primary {
    background: #f9f0f0;
    border-radius: 6px;
}