 .account-block {
   padding: 0;
   background-image: url('../../images/loginBg.png');
   background-repeat: no-repeat;
   background-size: cover;
   height: 100%;
   width: 100%;
   position: relative;
 }



 .account-block .overlay {
   -webkit-box-flex: 1;
   -ms-flex: 1;
   flex: 1;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
 }

 .account-block .account-testimonial {
   text-align: center;
   color: #fff;
   position: absolute;
   margin: 0 auto;
   padding: 0 1.79rem;
   bottom: 5rem;
   left: 0;
   right: 0;
 }

 .text-theme {
   color: rgb(33, 37, 41) !important;
 }

 .btntheme {
   background-color: #FFC0B1;
   color: white;
   width: 100%;
   height: 45px;
   border-radius: 6px;
   border: none;
   font-weight: 600;
   transition: all 0.2s ease-in-out;
 }

 .btntheme:hover {
   background-color: #ffab99;
   color: white;
 }

 .signIn {
   width: 100%;
   height: 45px;
   border-radius: 6px;
   background-color: white;
   border: 2px solid #bebebe;
   display: flex;
   align-items: center;
   justify-content: center;
   gap: 10px;
 }

 .signIn:hover {
   background-color: #f8dddd;
 }

 .userTextFeild {
   width: 100%;
   height: 45px;
   border: 2px solid #bebebe;
   box-sizing: border-box;
   border-radius: 6px;
   padding-left: 10px;
 }

 .userTextFeild:hover {
   background-color: #f8dddd;
 }

 .password {
   width: 100%;
   height: 45px;
   padding-left: 10px;
   border: 2px solid #bebebe;
   box-sizing: border-box;
   border-radius: 6px;
   background-color: white;
 }

 .password:hover {
   background-color: #f8dddd;

 }

 .microsoftLogo {
   width: 30px;
   height: 30px;
 }

 .loginContent {
   max-width: 420px;
   margin: 0 auto;
 }

 .orDivider {
   text-align: center;
   color: #999;
   font-weight: 500;
   margin: 20px 0;
 }