services:
  frontend-ui:
    build:
      context: .
      dockerfile: Dockerfile.dev
    env_file:
      - .env
    volumes:
      - .:/app
      - /app/node_modules
    ports:
      - "${REACT_APP_PORT}:${REACT_APP_PORT}"
    stdin_open: true
