.homeImage {
    width: 100%;
    height: 100%;
}

/* Carousel container */
.carousel {
    max-width: 70%;
    margin: 3% auto;
}

/* Fix the height of each slide */
.carousel-item {
    height: 550px;
    /* constant height */
}

/* Center content inside */
.carousel-item>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* or contain */
}

.welcomeText {
    margin-top: 3%;
    text-align: center;
    color: #2C2424;
    font-family: Roboto;
}

.welcomeContent {
    font-family: Roboto;
    font-style: thin;
    font-weight: normal;
    font-size: 16px;
    display: flex;
    align-items: center;
    text-align: center;
}

.welcomeButton {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.authLikeBtn {
    background-color: #FFC0B1;
    color: white;
    border: none;
    font-weight: 600;
    padding: 10px 24px;
    border-radius: 40px;
    transition: all 0.2s ease-in-out;
}

.authLikeBtn:hover {
    background-color: #ffab99;
    color: white;
}

.welcomeCard {
    margin: 0 15% 0 15%;
    border: none;
}

.tileCard {
    border: none;
    margin-top: 5%;
}

.tileImage {
    margin-top: 50%;
    width: 100%;
    border-radius: 50%;
}

.tileBody {
    margin-top: 10%;
    font-family: Roboto;
    font-size: 16px;
}

.tileContainer {
    padding: 0 6% 0 6%;
    margin-bottom: 5%;
}

.anchor {
    text-decoration: none;
    color: #6A6A6A;
    font-family: Roboto;
}

.tileHeading {
    text-decoration: none;
    color: #2C2424;
    font-family: Roboto;
}